{
  "env": {
    "browser": true,
    "jest/globals": true
  },
  "extends": [
    "airbnb",
    "eslint:recommended",
    "plugin:prettier/recommended",
    "plugin:react-native/all",
    "plugin:react/all",
    "plugin:testing-library/react"
  ],
  "parser": "@babel/eslint-parser",
  "plugins": ["jest", "react", "react-native"],
  "rules": {
    "comma-dangle": 0,
    "import/no-extraneous-dependencies": [0],
    "import/no-unresolved": 0,
    "import/order": [0],
    "import/prefer-default-export": [0],
    "jsx-a11y/click-events-have-key-events": [0],
    "jsx-a11y/label-has-for": [0],
    "jsx-a11y/no-static-element-interactions": [0],
    "quotes": ["error", "single"],
    "react/jsx-filename-extension": [0],
    "react/jsx-indent": 0,
    "react/jsx-indent-props": 0,
    "react/jsx-no-literals": [0],
    "react/jsx-one-expression-per-line": [0],
    "react/prop-types": [0],
    "react/react-in-jsx-scope": 0,
    "semi": ["error", "always"]
  }
}
